<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
    {{> head }}
    <body>
        <h1>Framework Rendering Interface Sample</h1>
        <main>
            <p>Hello, I'm {{{ model.getData.name }}} and I am a {{ model.getData.title }}.</p>
        </main>
    </body>
</html>
